@tailwind components;
@tailwind utilities;




:root {
    /*font-size: calc(0.5em + 1vw);*/
    font-size: 1rem;
    background: #EAEAEA;

}

@media (max-width: 850px) {
    :root {
        font-size: 0.95em;
    }
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #999;
    -webkit-border-radius: 7px;
    outline-offset: -2px;
}


::-webkit-scrollbar-track-piece {
    background-color: #EAEAEA;
    -webkit-border-radius: 3px;
}
